.navigation {
    height: $header-height;
    background: $dark-gray;
    color: $white;

    @include media-breakpoint-down(lg) {
        height: 63px;
    }

    // @include media-breakpoint-down(lg) {
    //     font-size: 35px;
    // }

    .nav-phones {
        font-size: 16px;
        font-weight: 400;

        img {
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: start;
            color: $white;

            &:hover {
                color: $red;
            }
        }
    }


    .nav-action-item+.nav-action-item {
        margin-left: 40px;
    }


    .navbar {
        &-brand {
            height: $header-height;



            @include media-breakpoint-down(lg) {
                height: 63px;

                img {
                    max-height: 80px;
                }
            }
        }

        &-toggler,
        &-closer {
            border: none;
            font-size: 20px;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &-icon {
                background-image: url('../../assets/images/icons/burger-menu.svg');
            }
        }
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: $red;
    }

    .nav {
        &-link {
            font-size: 18px;
            font-weight: 700;
            padding-left: 20px !important;
            padding-right: 20px !important;

            @include media-breakpoint-down(xxl) {
                font-size: 16px;
                padding-left: 12px !important;
                padding-right: 12px !important;
            }


        }

        &-item {
            .dropdown-menu {
                border-radius: 0;
                border: none;
                background: $dark-gray;

                .dropdown-item:hover,
                .dropdown-item:focus {
                    background: inherit;
                    color: $red;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    color: $white;

                    &:hover {
                        color: $red;
                    }
                }
            }

            .dropdown-toggle::after {
                display: none;
            }
        }
    }

    // Bootstrap mobile menu
    .offcanvas {
        background: $dark-gray;

        &-header {
            height: $header-bar-height;
        }
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}