@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&family=Open+Sans:wght@300;400;500;600;700&display=swap');

// Colors
$white: #ffffff;
$light-gray: #F2F2F2;
$gray: #E1E1E1;
$dark-gray: #484848;
$red: #EF3E37;
$black: #131313;

// Layout
$header-height: 80px;
$header-bar-height: 63px;
$footer-height: 80px;

// Typography
$font-family: 'Open Sans', sans-serif !default;
$font-family-headers: 'Cormorant Garamond', serif !default;

// START Bootstrap variable redefinition
$font-family-base: $font-family;

$headings-font-family: $font-family-headers;
$headings-font-style:  normal;
$headings-font-weight: 500;
$headings-line-height: 150%;

$navbar-brand-padding-y: 0;
$navbar-brand-padding-x: 0;
$navbar-brand-margin-end: 0;
$navbar-padding-y: 0;
$navbar-light-color: $white;
$navbar-light-hover-color: $red;
// $navbar-nav-link-padding-x: 1.25rem; // 20px or default 0.5rem

$carousel-indicator-height: 2px;

$theme-colors: (
  "primary":    $red
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 390px, // default 576px,
//   md: 640px, // default 768px
//   lg: 960px, // default 992px
//   xl: 1200px,
//   xxl: 1440px // default 1400px
// );

// $container-max-widths: (
//   sm: 580px, // default 540px,
//   md: 860px, // default 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );

// END Bootstrap variable redefinition